In [176]:
import pandas as pd
import numpy as np

In [177]:
# # 10.
# data2 =  {'이름' : ['철수', '영희', '민수', '지영'], 
# '나이' : [25, 30, 22, 28], 
# '성별' : ['남자', '여자', '남자', '여자'] }

# pd.DataFrame(data2)

In [178]:
# data3 = {'col1': ['a' , 'b' , 'c'] , 'col2' : [1,2,3]}
# df3 = pd.DataFrame(data3)
# pd.DataFrame(data3)

In [179]:
# data4 = {'col1': ['a' , 'b' , 'f'] , 'col2' : [10,20,30]}
# df4 = pd.DataFrame(data4)
# pd.DataFrame(data4)

In [180]:
# pd.concat([df3,df4])

In [181]:
# pd.merge(df3,df4, left_on='col1', right_on='col3' , how='outer')

In [182]:
# df5 = {'name' : ['철수','영희','민수','지영'] , 'score' : [75,88,92,68]}
# df6 = pd.DataFrame(df5)
# avg_score = df6['score'].mean()
# above_average = df6[df6['score'] > avg_score]
# above_average

In [183]:
# import pandas as pd
# data = {'name': ['철수', '영희', None, '지영'], 'score': [75, 88, None, 68]}
# df = pd.DataFrame(data)
# result = df.isna()
# print(result)

In [184]:
# data = {'col1' : [1,2,3] , 'col2' : [4,5,6] }
# df = pd.DataFrame(data)
# df.apply(lambda row: row['col1'] + row['col2'], axis="columns")

In [185]:
# data =  {'name' : ['철수', '영희', '민수'], 
# 'score' : [75, 88, 92] }
# df = pd.DataFrame(data)

In [186]:
# data1 =  {'name' : ['영희', '철수', '지영','다현'], 
# 'attendence_rate' : [90, 90, 95, 85] }
# df1 = pd.DataFrame(data1)

In [187]:
# df3 = pd.merge(df, df1, how="inner")
# df3

In [188]:
#  import pandas as pd
#  # 두 개의 데이터프레임 생성
# left = pd.DataFrame({'key': ['K0', 'K1', 'K2'],
#                      'A': ['A0', 'A1', 'A2']})
# right = pd.DataFrame({'key': ['K0', 'K1', 'K2'],
#                       'B': ['B0', 'B1', 'B2']})
#  # 여기에 코드를 작성하세요
# result = pd.merge(left, right, on='key', how='inner')
# print(result)

In [189]:
# data = {'학생' : ['철수','영희','민수'] , '성적' :[80,75,90] }
# new_student_scores = { '학생' : ['지영'] ,'성적' : [85]}

# df = pd.DataFrame(data)
# df2 = pd.DataFrame(new_student_scores)

In [190]:
# dataframe_list = [df,df2]
# result = pd.concat(dataframe_list, ignore_index=True)
# result

In [191]:
# merged_df = pd.merge(df,df2, how='outer')
# merged_df

In [201]:
# df1 = pd.DataFrame ( [[1,4],[2,5],[3,6]],
#                     index = ["X", "Y" , "Z"],
#                     columns=["A","B"])
# df1

In [202]:
# df2 = pd.DataFrame ( [[7,10],[8,11],[9,12]],
#                     index = ["X", "Y" , "Z"],
#                     columns=["C","D"])
# df2

In [203]:
# s = pd.DataFrame ( [[13],[14],[15]],
#                     index = ["X", "Y" , "Z"],
#                     columns=["E"])
# s

In [204]:

# result = pd.concat([df1, df2 , s] , axis="columns")
# result

In [213]:
data = { '이름' : ['철수', '영희', '민수'],
                   '국어' : [90,80,85],
                   '영어' : [85,95,70],
                   '수학' : [75,80,90] }
df = pd.DataFrame(data)
df


df['총점'] = df.apply(lambda row: row['국어'] + row['영어'] + row['수학'], axis=1)
df

   이름  국어  영어  수학   총점
0  철수  90  85  75  250
1  영희  80  95  80  255
2  민수  85  70  90  245

In [217]:
df.loc['평균'] = df.iloc[:, 1:].apply(lambda x: x.mean())

print(df)

     이름    국어         영어         수학     총점
0    철수  90.0  85.000000  75.000000  250.0
1    영희  80.0  95.000000  80.000000  255.0
2    민수  85.0  70.000000  90.000000  245.0
평균  NaN  85.0  83.333333  81.666667  250.0